@font-face {
  font-family: 'customFont';
  src: url('./CenturyGothic.ttf');
}


.loading {
  transition: transform 0.5s ease-in-out;
  background-color: #292929;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index : 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
}

.loading-finished {
  transform: translateY(-100%);
}

.loading-text {
  color: white;
  font-size: 36px;
  font-family: 'customFont', sans-serif;
}

.content {
  transition:  0.6s ease-in-out;
}
