.map-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
  }

  
  .popup {
    width: 500px;
    height: 450px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 999;
  }
  
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .sidebar {
    display: flex;
    position: fixed;
    left: -200px;
    top: 40px;
    bottom: 0;
    width: 200px;
    background-color: #fff;
    border-right: 2px solid;
    border-color: rgba(0, 0, 0, 0.2);
    z-index: 9;
    transition: all 0.3s ease;
    overflow-y:auto;
  }

  .sidebar-open {
    transform: translateX(200px);
  }


  .searchbar {
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.2);
  }

  .sidebar-content {
    padding: 10px;
  }

